/* Dark mode */

#dark {
    background-color: #000;
}

#dark .text-theme {
    color: #fff;
}

#dark .user-email {
    color: #fff;
}

.dark .text-theme {
    color: #fff;
}

#dark .icon svg path {
    stroke: #fff;
    stroke-width: 1;
}

.dark .icon svg path {
    stroke: white;
    stroke-width: 1;
}

/* Light mode */

#light {
    background-color: #c5c5c5;
}

#light .user-email {
    color: #000;
}

#light .card-title {
    color: #000;
}

#light .text-theme {
    color: #000;
}

#light .form-element-theme input::placeholder, #light .form-element-theme::placeholder {
    color: #949494;
}

#light .form-element-theme input, #light .form-element-theme {
    color: #000;
}

#light .custom-modal {
    background-color: #949494;
}

#light .pagination-effect ul li button {
    color: #000;
}

#light .react-calendar-heatmap text {
    color: #000;
}

.light .text-theme {
    color: #fff;
}

.light .icon svg path {
    stroke: white;
    stroke-width: 1;
}

#light .react-calendar-heatmap text {
    fill: #9333ea;
}